%p#notice= notice

%p
  %b Id:
  = @message.message
%p
  %b Location:
  = @message.location
%p
  %b created_at:
  = @message.created_at
%p
  %b updated_at:
  = @message.updated_at
%p
  %b longitude:
  = @message.longitude
%p
  %b latitude:
  = @message.latitude

= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@message.latitude},#{@message.longitude}&markers=#{@message.latitude},#{@message.longitude}&zoom=7&size=640x400&key=AIzaSyCaN7hW0iQryL5A2wqtP2FPkc4xbiiXG7M"


= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path