%p#notice= notice



= link_to '< Back to notifications', messages_path


%h2 Details

%p
  %b Message: diebadiebadoink bie ba boe kip kikker
  = @message.message
%p
  %b Location:
  = @message.location

%p
  %b created_at:
  = @message.created_at
%p
  %b updated_at:
  = @message.updated_at

%p
  %b longitude:
  = @message.longitude
%p
  %b latitude:
  = @message.latitude

%p
  %b Downlink_url:
  = @message.downlink_url
%p
  %b App_id:
  = @message.app_id
%p
  %b Dev_id:
  = @message.dev_id

%p
  %b level:
  = @message.level
%p
  %b pain:
  = @message.pain
%p
  %b bodypart:
  = @message.bodypart
%p
  %b cause:
  = @message.cause




-# # Message(
-# #     # id: integer,
-# #     message: string,
-# #     location: string,
-# #     # created_at: datetime,
-# #     # updated_at: datetime,
-# #     longitude: float,
-# #     latitude: float,
-# #     downlink_url: string,
-# #     app_id: string,
-# #     dev_id: string,
-# #     level: integer,
-# #     pain: integer,
-# #     bodypart: integer,
-# #     cause: integer)



#map-show

%br

-# %link{:crossorigin => "", :href => "https://unpkg.com/leaflet@1.3.4/dist/leaflet.css", :integrity => "sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==", :rel => "stylesheet"}/
-# %script{:crossorigin => "", :integrity => "sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==", :src => "https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"}

-# = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=53.20393,6.52751&markers=53.20393,6.52751&zoom=7&size=640x400&key=nBxnglIWacwoX3XNZapZcxP9Orw="
-# = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center='+@message.latitude.to_s+','+@message.longitude.to_s+'&markers='+@message.latitude.to_s+','+@message.longitude.to_s+'&zoom=7&size=640x400&key=nBxnglIWacwoX3XNZapZcxP9Orw'

= link_to '30 min helikopter', edit_message_path(@message)


:javascript
  var mymap = L.map('map-show').setView([#{@message.latitude}, #{@message.longitude}], 13);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=sk.eyJ1IjoibG9zb3MiLCJhIjoiY2pueXhwZ3RvMDFzdzNrbXFicnlmY3Q1YiJ9.ixxDbuWyXhWX4PY4qt07ZA', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'your.mapbox.access.token'
  }).addTo(mymap);

  var redMarker = new L.DivIcon({
    className: 'help-marker red',
    html: '<div class="help-marker-inner"></div><div class="help-marker-inner2"></div>'
  })

  var orangeMarker = new L.DivIcon({
    className: 'help-marker orange',
    html: '<div class="help-marker-inner"></div>'
  })

  var yellowMarker = new L.DivIcon({
    className: 'help-marker yellow',
    html: '<div class="help-marker-inner"></div>'
  })

  var markers = [];
  markers.push(L.marker([#{@message.latitude}, #{@message.longitude}  ], {icon: redMarker}));

  for (i = 0; i < markers.length; i++) {
      markers[i].addTo(mymap);
  }




-# var pointerIcon = L.DivIcon({
-#       className: 'help-marker',
-#       html: '<div class="help-marker-inner"></div>'
-#   })

-# var lc = document.getElementsByClassName('leaflet-control-layers');
-# lc[0].style.visibility = 'hidden';

