%p#notice= notice

%p
  %b Message:
  = @message.message
%p
  %b Location:
  = @message.location

%p
  %b created_at:
  = @message.created_at
%p
  %b updated_at:
  = @message.updated_at

%p
  %b longitude:
  = @message.longitude
%p
  %b latitude:
  = @message.latitude

%p
  %b Downlink_url:
  = @message.downlink_url
%p
  %b App_id:
  = @message.app_id
%p
  %b Dev_id:
  = @message.dev_id

-# = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=53.20393,6.52751&markers=53.20393,6.52751&zoom=7&size=640x400&key=nBxnglIWacwoX3XNZapZcxP9Orw="
-# = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center='+@message.latitude.to_s+','+@message.longitude.to_s+'&markers='+@message.latitude.to_s+','+@message.longitude.to_s+'&zoom=7&size=640x400&key=nBxnglIWacwoX3XNZapZcxP9Orw'


#map.map

%br

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path