.row
    .col-md-6
        %h1.mt1 LoSOS
        %p.mb0 Emergancy networkover long distance, 
        %p.mb0 using LoRaWAN Network.
        %p.mb1 Saving lives that matter.
        = link_to('Login', new_caretaker_session_path, :class => "btn btn-primary")
        = link_to('Register', new_caretaker_registration_path, :class => "btn btn-ghost") 
    .col-md-6
        .image-placeholders
            .image-placeholder.second
                = image_tag("loSOS.svg")
            .image-placeholder.first
                = image_tag("broken-leg.svg")
            .image-placeholder.thirth
                = image_tag("doctor.svg")

